<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

  <head>
    <meta charset="UTF-8" />
    <title>Radio</title>
    <link rel="stylesheet" type="text/css" href="/static/radio-main.css">
  </head>

  <meta name='viewport' content='width=device-width' />
    
  <body>
    {% for key, value in RADIO.iteritems() %}
      <input class="button bred kanal"
             type="button"
             onclick="location.href='?action=play&channel={{ key }}'"
             value="{{ value['display_name'] }}">
      <br />
    {% endfor %}
    <hr/>
    <input id="ned"
           class="button volum"
           type="button"
           onclick="location.href='?action=dec_vol';"
           value="---"/> &nbsp;Lyd
    <input id="opp"
           class="button volum"
           type="button"
           onclick="location.href='?action=inc_vol';"
           value="+++"/>
    <input id="slaa_av"
           class="button bred"
           type="button"
           onclick="location.href='?action=stop';"
           value="Slå av"/>
  </body>
</html>
